/* Resetting some default styles */
* {
    margin: 1;
    padding: 1;
    box-sizing: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f6ebeb;
    color: #090909;
    margin: 1;
}

.float-left {
    float: left;
    margin-right: 20px;
}

header {
    background: #174fbf;
    color: #fff;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
}

section h2 {
    margin-bottom: 1rem;
}

footer {
    background: #174fbf;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
